body
{
    font-family: 'Special Elite', cursive;
    background: #f5dbda;
}
.header_div
{
    background: #f5dbda;
    color: rgb(245, 26, 10);
}
.header_div p{
    font-family: 'Courier New', Courier, monospace;
    color:aqua;
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
}
.main_div button
{
   width: 130px;
   font-family: 'Courier New', Courier, monospace;
   letter-spacing: 2px;
   font-weight: bold;
   margin-top: 30px;
}
.copy_right_footer
{
    position: fixed;
    width: 100%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chartreuse;
    text-align: center;
    font-size: 20px;
    background-color: cyan;
    line-height: 3;
    text-shadow: 5px 5px 5px grey;
    bottom: 0;
}